/* 
    General Styles
*/

.editdelbutton{
    display:flex;
}

.stageTable{
    text-align: center;
}

.navbar{
    margin-top:10px;
    text-align:center;
    background-color:rgb(0, 153, 255);
    color:white;
    border-radius:180px;
}

.text{
    text-align:center;
    margin-left:28rem;
}

.addnewcontact{
    text-align:center;
}

.selectEdit{
    margin-bottom:1.5rem;
}

.stageofcontact{
    margin-right:1rem;
}

.stages{
    text-align:center;
    display: flex;
    justify-content: space-evenly;
    margin-top:1rem;
    border:1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.newClient{
    padding:0px;
    border:0px;
    margin:0px;
}

.stagePage{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.newClient{
    // border:1px solid rgba(0, 0, 0, 0.125);
    // border-radius:5px;
}
/